{% extends 'wavepool/base.html' %}

{% block page_content %}
	<div id="instructions">
		<div class="container">
			<div class="row">
				<h1>Code Exercise Instructions</h1>
				<p>For each ticket below, submit a pull request to this repository that completes as many of the acceptance criteria as you can. For each acceptance criteria, a django test is noted which should pass if your solution is valid.<p>

				</p>For each pull request, include instructions for the reviewer to verify the behavior as well as commentary about your solutions. Code comments are encouraged.</p>
			</div>
		</div>
			{% for ticket in code_exercise_defs %}
			<div class="card">
  				<div class="card-header"><h1 class="card-title">{{ticket.title}}</h1></div>
  				<div class="card-body">
	  				<p class="card-text">{{ticket.description}}</p>
	  				<p class="card-text">Test suit: <code>python manage.py test wavepool.tests.{{ticket.test_class}}</code></p>
	  				<h2 class="card-title">Acceptance Criteria:</h2>
						<ul>
						{% for ac in ticket.acceptance_criteria %}
							<li class="instructable-ac">
								{{ac.description}}<br />
								Test: <code>python manage.py test wavepool.tests.{{ticket.test_class}}.{{ac.test}}</code>
							</li>
						{% endfor %}
						</ul>
					</li>
	  			</div>
  			</div>
			{% endfor %}
	</div>
{% endblock %}