{% extends 'wavepool/base.html' %}
{% load static %}

{% block page_content %}
	<div class="newspost-detail">
		<div class="row"><a href=""><button>edit</button></a></div>
		<div class="row">
			<h1>{{ newspost.title }}<span class="pubdate">{{newspost.publish_date}}</span></h1>
		</div>
		<div class="row"><a href="{{newspost.source}}" target="_blank">See the live story at {{newspost.source_divesite_name}}</a></div>
		<div class="row newspost-body">
			{{ newspost.body}}
		</div>
	</div>
{% endblock %}